<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.alfred.type-it</string>
	<key>connections</key>
	<dict>
		<key>122DA860-5B4F-4931-9672-3E2A0402361D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34B592A0-8919-448A-A27A-25E2849ED281</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E8C2E9-ED5F-4247-AAC7-DA6494AFDC2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49B9BE5F-D9FF-457B-B4B1-4DBB8038E5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54E8C2E9-ED5F-4247-AAC7-DA6494AFDC2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BAC5CF1-F159-4CAB-A3EE-145AA63855E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0E2033E3-5470-46CF-A5B8-657F3B2DE33A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F89FE5CD-78C5-4244-A46E-1846441D3F2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>35D32384-52D9-4D74-BEB4-E542C407B04F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1054209F-4BA1-4FFF-AD63-FA710C07155D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EF97553-B715-419E-B70E-CD307EE885FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77D17C33-F947-4F32-AB15-79286271B153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>122DA860-5B4F-4931-9672-3E2A0402361D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Type at fast speed</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EF97553-B715-419E-B70E-CD307EE885FD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Type at medium speed</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49B9BE5F-D9FF-457B-B4B1-4DBB8038E5EE</string>
				<key>modifiers</key>
				<integer>655360</integer>
				<key>modifiersubtext</key>
				<string>Type at slow speed</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7A4E817-17FA-44E4-BD10-0CD38500EBB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34B592A0-8919-448A-A27A-25E2849ED281</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7A4E817-17FA-44E4-BD10-0CD38500EBB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F89FE5CD-78C5-4244-A46E-1846441D3F2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1894885-44E7-4637-A946-FA7428C5F017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BA0FC35E-D5CE-4939-BA71-56308DB6CE24</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DCCE688-697E-4C60-BC02-D2AFF987E511</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9F54B947-7ECC-41CA-8DDA-7ABB25F8B886</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4258DD20-A410-44CA-92B3-15D16C1D6D18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EED41398-83C1-4DAE-86C9-C7A1F22EE2C2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>paulrudy</string>
	<key>description</key>
	<string>Type the clipboard contents with options for typing speed</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Type It</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>text_to_type</key>
					<string>{var:cb}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C1894885-44E7-4637-A946-FA7428C5F017</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The input had {var:character_count} characters (max: 500)</string>
				<key>title</key>
				<string>Too many characters</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4BAC5CF1-F159-4CAB-A3EE-145AA63855E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>type_speed</key>
					<string>3</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>122DA860-5B4F-4931-9672-3E2A0402361D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>metric</key>
					<string>characters</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.metrics</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B7A4E817-17FA-44E4-BD10-0CD38500EBB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword_type_clipboard}</string>
				<key>subtext</key>
				<string>Hold ⌥ or ⌥⇧ for slower typing speeds</string>
				<key>text</key>
				<string>Type Clipboard Content</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77D17C33-F947-4F32-AB15-79286271B153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>text_to_type</key>
					<string>{var:cb}</string>
					<key>type_delay</key>
					<string>10000</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7DCCE688-697E-4C60-BC02-D2AFF987E511</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:character_count}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>500</string>
						<key>outputlabel</key>
						<string>&gt; 500</string>
						<key>uid</key>
						<string>0E2033E3-5470-46CF-A5B8-657F3B2DE33A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:character_count}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>ok</string>
						<key>uid</key>
						<string>35D32384-52D9-4D74-BEB4-E542C407B04F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54E8C2E9-ED5F-4247-AAC7-DA6494AFDC2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:type_speed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>3</string>
						<key>outputlabel</key>
						<string>fast</string>
						<key>uid</key>
						<string>BA0FC35E-D5CE-4939-BA71-56308DB6CE24</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type_speed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>2</string>
						<key>outputlabel</key>
						<string>medium</string>
						<key>uid</key>
						<string>9F54B947-7ECC-41CA-8DDA-7ABB25F8B886</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type_speed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>slow</string>
						<key>uid</key>
						<string>EED41398-83C1-4DAE-86C9-C7A1F22EE2C2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F89FE5CD-78C5-4244-A46E-1846441D3F2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>type_speed</key>
					<string>2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5EF97553-B715-419E-B70E-CD307EE885FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>cb</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>character_count</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>34B592A0-8919-448A-A27A-25E2849ED281</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The input did not include any text</string>
				<key>title</key>
				<string>No text to type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1054209F-4BA1-4FFF-AD63-FA710C07155D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>type_speed</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>49B9BE5F-D9FF-457B-B4B1-4DBB8038E5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>text_to_type</key>
					<string>{var:cb}</string>
					<key>type_delay</key>
					<string>100000</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4258DD20-A410-44CA-92B3-15D16C1D6D18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Type It - Alfred workflow

## Note on updating to version 2+

The bundleID has changed since version 1.x. Importing later versions than 3.x will create a new Alfred workflow instead of updating the previous one.

Once you've imported the new version, delete the old version (check the version number beginning with `v` at the top of the main window). This also means that any changes you've made to the workflow's configuration will need to be redone.
___

Type the clipboard contents with options for typing speed. Useful for dialog boxes on some sites that disable pasting.

## Setup

Use "Configure Workflow..." to edit keyword if needed

## Usage

Invoke the keyword to have Alfred simulate typing the clipboard contents (maximum 500 characters) wherever the system's focus is currently active.

Default typing speed is fast. Hold ⌥ to have Alfred type at medium speed, or ⌥⇧ for slow speed.

[Alfred Forum thread](https://www.alfredforum.com/topic/21988-type-it-have-alfred-enter-text-without-pasting/)

## Credits

Originally based on [this workflow](https://github.com/ramiroaraujo/alfred-type-clipboard-workflow), and updated with options and native Alfred functions.

Icon credit: [Typewriter PNG Photo](https://www.pngall.com/typewriter-png/download/27947) via [Creative Commons 4.0 BY-NC](https://creativecommons.org/licenses/by-nc/4.0/) license.</string>
	<key>uidata</key>
	<dict>
		<key>1054209F-4BA1-4FFF-AD63-FA710C07155D</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>122DA860-5B4F-4931-9672-3E2A0402361D</key>
		<dict>
			<key>note</key>
			<string>save fast type speed</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>34B592A0-8919-448A-A27A-25E2849ED281</key>
		<dict>
			<key>note</key>
			<string>save character_count</string>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>4258DD20-A410-44CA-92B3-15D16C1D6D18</key>
		<dict>
			<key>note</key>
			<string>slow typing speed</string>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>49B9BE5F-D9FF-457B-B4B1-4DBB8038E5EE</key>
		<dict>
			<key>note</key>
			<string>save slow type speed</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>4BAC5CF1-F159-4CAB-A3EE-145AA63855E5</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>54E8C2E9-ED5F-4247-AAC7-DA6494AFDC2C</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>5EF97553-B715-419E-B70E-CD307EE885FD</key>
		<dict>
			<key>note</key>
			<string>save medium type speed</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>77D17C33-F947-4F32-AB15-79286271B153</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>7DCCE688-697E-4C60-BC02-D2AFF987E511</key>
		<dict>
			<key>note</key>
			<string>medium typing speed</string>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>B7A4E817-17FA-44E4-BD10-0CD38500EBB7</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>C1894885-44E7-4637-A946-FA7428C5F017</key>
		<dict>
			<key>note</key>
			<string>fast typing speed</string>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>CB36E81B-3F19-4FE3-8CB2-136BA392F2D5</key>
		<dict>
			<key>note</key>
			<string>save clipboard as cb</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>F89FE5CD-78C5-4244-A46E-1846441D3F2D</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>typeit</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for typing the contents of the clipboard</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_type_clipboard</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
